/* You can add global styles to this file, and also import other style files */



:root{
    --header-height:100px;
    --sidebar-widht:200px;
    --footer-height:100px;
}

*{
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
